<!-- 
upload.ejs
Web page that allows user to browse to a video file to upload, a button that starts the transcoding
and an html player to display the transcoded footage.
Note that this is a test and some dynamic data may be hardcoded.
Author: Jules Lai
Date: 28th May, 2023 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Upload Play Example 1bb</title>
</head>

<style>
  .form-container {
    display: flex;
    align-items: last baseline;
    gap: 20px;
  }

  h1 {
    margin-bottom: 0;
  }
</style>

<body>
  <!-- Upload the selected video to storage -->
  <h1>Upload Video</h1>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="video" accept="video/mp4; codecs=av01.0.05M.08">
    <input type="submit">
  </form>
  video link: <%= `/s5/blob/${videoCID}?mediaType=video%mp4` %>

    <br />

    <!-- Transcode video to different resolutions and send to storage -->
<!-- Transcode video to different resolutions and send to storage -->
<div class="form-container">
  <h1>Transcode Video</h1>
  <form method="post" action="/transcode">
    <input type="submit">
    <input type="checkbox" id="gpu" name="gpu" checked>
    <label for="gpu">GPU</label>
  </form>
</div>


    <!-- Delete videos from storage and clear videoCIDx variables -->
    <div class="form-container">
      <h1>Delete Video</h1>
      <form class="text-container" method="post" action="/delete">
        <input type="submit">
      </form>
    </div>

    <!-- Populate videoCIDx variables with links to transcoded videos -->
    <div class="form-container">
      <h1>Refresh</h1>
      <form method="get" action="/refresh">
        <input type="submit">
      </form>
    </div>

    <!-- HTML video players -->
    <h1>2160p</h1>
    <video width="320" height="240" controls>
      <source src=<%=`${process.env.PORTAL_STREAMING_URL}/${videoCID1}?mediaType=video%2Fmp4` %>
       type="video/mp4; codecs=av01.0.05M.08">
      Your browser does not support the video tag.
    </video>
    <div>
      video link: <%= `${process.env.PORTAL_STREAMING_URL}/${videoCID1}?mediaType=video%2Fmp4` %>
    </div>

    <h1>1080p</h1>
    <video width="320" height="240" controls>
      <source src=<%=`${process.env.PORTAL_STREAMING_URL}/${videoCID2}?mediaType=video%2Fmp4` %>  type="video/mp4; codecs=av01.0.05M.08">
      Your browser does not support the video tag.
    </video>

    <div>
      video link: <%= `${process.env.PORTAL_STREAMING_URL}/${videoCID2}?mediaType=video%2Fmp4` %>
    </div>

</body>

<script type="module">
  // Installs service worker `sw.js` on this web page
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('./sw.js').then(function (registration) {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function (err) {
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }
</script>

</html>